/* Elimina não necessário */
body > header > h1 > span:nth-of-type(1) {
  display: none;
}

div > article > h2:nth-of-type(2) {
  display: none;
}

div > article > ul:nth-of-type(2) {
  display: none;
}

aside {
  display: none;
}

/* body */
body {
  background-image:  url("https://guikao.files.wordpress.com/2012/01/pokemon_wallpaper01_1680.jpg");
  background-color: #1879D5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;
  box-sizing: border-box;
}

/* header */
header {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: red;
}

.imagem-fundo {
  background: url("http://orig05.deviantart.net/30d2/f/2010/351/5/7/logo_pkmn_center_by_honokawa-d352y7o.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 20px;
}

header > h1 {
  color: white;
  position: relative;
  left: 170px;
  display: table;
}

.perfil {
  float: right;
  position: relative;
  top: -60px;
  left: -30px;
}

.perfil a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

.perfil a:hover {
  color: blue;
}

/* content */
.content {
  width: 100%;
  float: left;
  box-sizing: content-box;
}

article {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: red;
  float: left;
  position: relative;
  padding-left: 20px;
  color: white;
  box-sizing: border-box;
  min-height: 2900px; 
}

.personagens {
  width: 60%;
}

.treinadores {
  width: 38%;
  margin-left: 2%;
  height: 100%;
}

/* footer */
footer {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red;
  float: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-size: 20px;
}
