.cor-fundo {
  background-color: white;
  border-radius: 10px;
}

.widget-bg-color-icon .bg-icon-info {
    background-color: rgba(52, 211, 235, 0.2);
    border: 1px solid #34d3eb;
}

.widget-bg-color-icon .bg-icon {
    height: 80px;
    width: 80px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box;
}

.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.pull-left {
    float: left !important;
}

.widget-bg-color-icon .bg-icon i {
    font-size: 32px;
    line-height: 80px;
}

.text-info {
    color: #34d3eb;
}

.text-pink {
    color: #fb6d9d;
}

.progress.tamanho {
  height: 10px;
}

.vendas-ajusta-altura{
  height: 514px;
}

.widget-bg-color-icon .bg-icon-pink {
    background-color: rgba(251, 109, 157, 0.2);
    border: 1px solid #fb6d9d;
}

.widget-bg-color-icon .bg-icon-purple {
    background-color: rgba(114, 102, 186, 0.2);
    border: 1px solid #7266ba;
}

.text-purple {
    color: #7266ba;
}

.ajusta {
  position: relative;
  top: -16px;
}

.text-success {
    color: #81c868;
}

.widget-bg-color-icon .bg-icon-success {
    background-color: rgba(129, 200, 104, 0.2);
    border: 1px solid #81c868;
}

.row::after {
    clear: both;
    box-sizing: border-box;
    display: table;
    content: " ";
}

.clearfix {
  clear: both;
}

.text-mid {
  color: grey;
}

.info-mid {
  position: relative;
  top: -10px;
  color: #0096ad;
}

.circle1 {
  color: rgb(95, 190, 170);
}

.circle2 {
  color: rgb(93, 156, 236);
}

.circle3 {
  color: rgb(235, 239, 242);
}

.ajustaImg {
  width: 100%;
}

.pull-right.btn.btn-info.btn-sm {
  position: relative;
  top: 20px;
}

.thumb-sm {
    height: 32px;
    width: 32px;
}

.m-r-10 {
    margin-right: 10px !important;
}

.text-danger {
    color: #f05050;
}

.text-custom {
    color: #5fbeaa;
}

.pull-left {
    float: left !important;
}

.fa-times {
  margin-left: 10px;
}

.ajusta-altura {
  height: 475px;
}

.progress-bar {
  color: black;
}

.completa {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .ajusta {
    position: inherit;
  }
  .ajusta-altura {
    height: 100%;
  }
  .vendas-ajusta-altura{
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .ajusta {
    position: inherit;
  }
  .ajusta-altura {
    height: 100%;
  }
  .vendas-ajusta-altura{
    height: 100%;
  }
}
