.brand-color {
  color: grey;
  text-align: right;
  float: left;
  clear: left;
}

.brand-color:hover {
  color: grey;
  text-decoration: none;
}

.margem {
  margin-top: 5px;
}

.ajusta-imagem {
  position: relative;
  top: -5px;
}

.conteudo {
  margin-top: 62px;
}
