body {
    background-image: url('../Imagens/streefighter.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

#div-menu {
  border-style: solid;
  border-radius: 15px;
  width: 500px;
  height: 50px;
  border-color: rgb(140, 140, 140);
  background-color: rgba(140, 140, 140, 0.6);
  margin: 330px auto 0px auto;
}

#div-menu ul {
  font-weight: bold;
  font-family: arial;
  color: white;
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

#div-menu li {
  display: inline;
  text-align: center;
  margin: 0px 5%;
}

#div-menu a {
  color: white;
  text-decoration: none;
}

#div-info {
  width: 700px;
  min-height: 100px;
  margin: 50px auto;
  box-sizing: border-box;
}

#div-info-top {
  width: 100%;
  background-color: grey;
  min-height: 20px;
  box-sizing: border-box;
  padding: 10px;
}

#div-info-top h1 {
  font-weight: bold;
  font-family: arial;
  color: white;
  font-size: 30px;
  box-sizing: border-box;
}

#div-info-middle {
  width: 100%;
  background-color: rgb(200, 200, 200);
  min-height: 100px;
  font-family: arial;
  font-size: 18px;
  box-sizing: border-box;
  overflow-y: auto;
}

#div-info-middle h2 {
  margin-top: 0px;
}

.img-float-left {
  float: left;
}
